.content {
  text-align: center;
  position: relative; 
  color: rgb(226, 218, 218);
  font-family: Sans-serif, Verdana;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content:hover {
  display: block;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-image:    url(bg.jpg);
  background-size:     cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #111111
}